{% extends "base.html" %}


{% block enTete %}
<br/>
<div class="jumbotron">
  <h1>1 étoile !</h1>
  <p></p>
</div>
{% endblock %}

{% block content %}



<h1>{{ object.titre }}</h1>
<p>Published: {{ object.date }}</p>
<p>Auteur: {{ objet.auteur }}</p>
<p>Categorie: {{ objet.classement }}</p>

{%  autoescape off %}
<p>{{ object.contenu }}</p>
{% endautoescape %}


	<div class="row">
		<div class="col-sm-12">
			<form method="POST" action="">
			{% csrf_token %}
			{{comment_form.as_p}}
			<input type="submit" value="comment" />
			</form>
			<h1>Comments : </h1>	

			<table class='table'>
			{% for comment in comments %}
			<tr><td>{{comment.get_comment}} 
				<br/><small>via {{comment.user}}|{{comment.timestamp|date:"d m Y"}}</small>
			{% if not comment.is_child %}
			<ul>
			{% for child in comment.get_children%}
			<li>{{child.get_comment}}<small> via {{child.user}}</small>
			{% endfor %}
			</ul>
			{% endif %}
			</td></tr>
			{% endfor %}
			</table>



		</div>
	</div>



{% endblock %}

{% block suite%}
<br/>
<br/>
<div class="text-center">
<a class="btn btn-lg btn-success" href="{% url 'liste' %}">
  <i class="fa fa-home fa-2x"></i> Retour<br>Page principale</a>
</div>
<br/>
<br/>

{% endblock %}